
  
.navbar-custom {
    background-color: #000000; /* Cor de fundo personalizada */
    font-size: 18px; /* Tamanho da fonte para toda a navbar */
  }
.navbar-custom {
    font-size: 22px; /* Ajuste o valor conforme necessário */
  }
  
  .navbar-custom .navbar-brand,
  .navbar-custom .nav-link,
  .navbar-custom .btn {
    font-size: inherit; /* Tamanho de fonte definido para a navbar */
    color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0); /* Borda cinza ao redor do texto */
    padding: 3px 6px; /* Preenchimento para que a borda não fique colada no texto */
    background-color: #1b1b1b;
    border-radius: 4px; /* Cantos arredondados */
  }
  
  
  .navbar-custom .nav-link {
    margin-right: 180px; /* Espaçamento entre os links */
  }
  
  .navbar-custom .nav-link:last-child {
    margin-right: 0;
  }


  /* global.css */
body {
    background-color: black; /* Fundo da página*/
    color: white; /* Define a cor do texto */
  }
  